.App{
  /*background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0) 0%, rgba(239, 116, 239, 0.315) 60%, rgba(255, 0, 255, 0.47) 80%); */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;



  display: flex;
  /* justify-content: center; */

  align-content: center;
  flex-direction: column;
  animation: init_app 0.5s linear;
  height: 100vh;
}


@keyframes init_app {
  from {
    opacity: 0;

  }to{
    opacity: 1;

  }
}


.contents{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  float: left;
  margin-top: 2.5vw;
  width: 100vw;
  font-weight: 500;
}

.contents h1, h2{
  font-size: 3.5vh;

  font-weight: 500;
  margin-left: 20%;
  margin-bottom: 2vh;

}
#item2{
  margin-top: 2.5vw;

}

.item{
  display: flex;
  margin:  3vh 3vw;
  padding:  1.5vh 1.3vw;
  align-self: center;
  flex-direction: column;
  max-width: 88vw;
  width: 400px;
  flex-wrap: wrap;
  flex-grow: 1;

}
.item:hover{
  box-shadow:  0px 9px 18px #00000052;
  border-radius: 10px;
  transform: scale(1.02);
}

.temes{
  display: flex;
  flex-direction: row;
  background-color: rgba(73, 10, 73, 0.644);

  align-self: center;

  border-radius: 10px;

  align-content: center;
  justify-content: center;

  flex-wrap: wrap;

  margin: 1vw;
  margin-top: 3vh;
  
  min-width: 85vw;
  min-height: 20vh;
  height: auto;



  color:#fff;
   box-shadow:  -1px -1px 45px #000000be;
  
}

.teme{
  display: flex;
  margin: 2vw 7vw;
  padding: 0.5vw;
  flex-direction: column;
  flex-wrap: wrap;

}
.teme h1{
  color:#fff;
}
.teme:hover{
  text-shadow:  0px 0px 80px #fffefebe;
  cursor: default;
}