.App{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.temes{
   display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 40vh;
  width: 100vw;
  
}

.teme{
  background-color: rgb(255, 255, 255);
  margin: 1vh 1vw;
  width: 558px;
  max-width: 99vw;
  height: 150px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.521);
  align-content: center;
  justify-content: center;
  display: flex;
}