.App{
  display: flex;
  /* justify-content: center; */
  align-content: center;
  flex-direction: column;
  animation: init_app 0.4s linear;
  height: 100vh;
}

@keyframes init_app {
  from {
    opacity: 0;
    transform: scale(0);
    background-color: #000;
    border-radius: 50px;
    
  }to{
    opacity: 1;
    transform: scale(1);
    background-color: transparent;
    border-radius: 0px;
  }
}
h1{
  font-size: 3vh;
}

.top{
  transform: scale(0.7456);
}

.contents{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.item{
  display: flex;
  margin: 1vw;
  padding: 0.5vw;
  cursor: pointer;
  flex-direction: column;
  width: 60vw;
  flex-wrap: wrap;
}

.temes{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 40vh;
  width: 100vw;
  
}

.teme{
  display: flex;
  margin: 1vh 1vw;

  width: 528px;
  max-width: 99vw;
  height: 150px;


  cursor: pointer;
  flex-direction: column;
}


